
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
body {
    background-color: #2c6a1b;
}


    body.about-page {
        background-color: #1f242d;
        color: #fff;
    }

    body.portfolio-page {
        background-color: #1f242d;
        color: #fff;
    }

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li :active {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a {
        color: #7cf03d;
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

.portfolio-page .home {
    height: auto;
    min-height: 15vh;
}

.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px  #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

.span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px  #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    
    25%,
     100% {
        display: block;
    }
}

.home-info h2:after {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    0%, 10% {
        width: 0%;
    }

    70%, 90% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci {
    margin-left: 20px;
}

.home-info .btn-sci a:not(.btn){
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 5s;
}

.home-info .btn-sci a:not(.btn):hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box {
    position: relative;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before, 
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient (transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
@keyframes shake {
    0% { transform: translate(0, 0);}
    20% { transform: translate(-2px, 0); }
    40% { transform: translate(2px, 0); }
    60% { transform: translate(-2px, 0); }
    80% { transform: translate(2px, 0); }
    100% { transform: translate(0, 0); }
}
.shake-on-hover:hover {
    animation: shake 0.3s ease-in-out;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: normal;
    display: block;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
    
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}

.about-page .home-info {
    max-width: 350px;
}

.about-page .home-img .img-box {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.about-page .home-img .img-box::before, 
.about-page .home-img .img-box::after {
    display: none;

}
.about-page .home-img .img-box img
{
    width: 105%;
    height: 105%;
    object-fit: cover;
    object-position: center 80%;
    border-radius: 50%;
    position: relative;
    top: 1px;
}   

.badges {
    text-align: center;
    margin-top: 2rem;
}

.badges h3 {
    color: #7cf03d;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.badge-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.badge-item {
    background-color: #2c6a1b;
    border: 1px solid #7cf03d;
    border-radius: 12px;
    padding: 1rem;
    width: 150px;
    height: 200px;
    transition: transform 0.3s ease;
}

.badge-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #7cf03d;
    transition: transform 0.3s ease;
    box-shadow: 0.3 ease;
}

.badge-item img {
    width: 60%;
    border-radius: 8px;
    object-fit: cover;
}

.badge-item p {
    margin-top: 0.5rem;
    color: #fff;
    font-size: 0.9rem;
}

.extra-img {
    margin-left: auto;
    margin-right: 60px;
    margin-top: 2rem;
    text-align: center;
}

.extra-img img {
    justify-content: space-between;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba (0, 0, 0, 0.3);

}

.caption {
    margin-top: 10px;
    color: #ccc;
    font-size: 1rem;
    font-style: italic;
}